<div *ngIf="isLoading$ | async; else elseTemplate">
    <!-- TODO: add Angular Material Spinner Component -->
    <h1>Fetching neighborhoods...</h1>
</div>

<pre *ngIf="errors$ | async">
    <!-- TODO: add "Oops, Something Went Wrong" component -->
    {{ errors$ | async | json }}
</pre>

<ng-template #elseTemplate>
    <div *ngFor="let neighborhood of (neighborhoods$ | async)">
        <h3>{{ neighborhood.name }}</h3>
        <img src="{{ neighborhood.imgUrl }}" alt="Image of {{ neighborhood.name }}">
    </div>
</ng-template>


