<div *ngIf="isLoading; else elseTemplate">
    <!-- TODO: add Angular Material Spinner Component -->
    <h1>Fetching neighborhoods...</h1>
</div>

<pre *ngIf="errors">
    <!-- TODO: add "Oops, Something Went Wrong" component -->
    {{ errors}}
</pre>

<ng-template #elseTemplate >
    <div class="list-container">
        <div *ngFor="let neighborhood of neighborhoods">
            <p>{{ neighborhood.name }}</p>
            <img src="{{ neighborhood.imgUrl }}" alt="Image of {{ neighborhood.name }}">
        </div>
    </div>
</ng-template>